@import "tailwindcss";

@plugin "daisyui";

@theme {
  /* colors */
  --color-primary-50: #fcfaf9;
  --color-primary-100: #f9f7f3;
  --color-primary-200: #f4efe8;
  --color-primary-300: #eee6dc;
  --color-primary-400: #e9ded1;
  --color-primary-500: #e3d6c5;
  --color-primary-600: #b6ab9e;
  --color-primary-700: #888076;
  --color-primary-800: #5b564f;
  --color-primary-900: #2d2b27;
  --color-primary-950: #161513;

  --color-accent-50: #e5f1f1;
  --color-accent-100: #cce4e4;
  --color-accent-200: #99c8ca;
  --color-accent-300: #4d9fa1;
  --color-accent-400: #339195;
  --color-accent-500: #00767a;
  --color-accent-600: #005e62;
  --color-accent-700: #004749;
  --color-accent-800: #002f31;
  --color-accent-900: #000101;
  --color-accent-950: #000000;

  --color-grey-scale-50: #ffffff;
  --color-grey-scale-100: #e5e5e5;
  --color-grey-scale-200: #cccccc;
  --color-grey-scale-300: #b2b2b2;
  --color-grey-scale-400: #999999;
  --color-grey-scale-500: #7f8080;
  --color-grey-scale-600: #666666;
  --color-grey-scale-700: #4c4d4d;
  --color-grey-scale-800: #323333;
  --color-grey-scale-900: #191a1a;
  --color-grey-scale-950: #000101;

  --color-primary: #f4efe8;
  --color-secondary: #e3d6c5;
  --color-accent: #005e62;
  --color-succes: #green;
  --color-error: #red;
  --color-warning: #yellow;

  /* spacing */
  --space-010: 2px;
  --space-025: 4px;
  --space-050: 6px;
  --space-075: 8px;
  --space-100: 10px;
  --space-150: 12px;
  --space-200: 16px;
  --space-250: 20px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-800: 64px;
  --space-1000: 80px;
  --space-1200: 96px;
  --space-1400: 112px;
  --space-1600: 128px;
  --space-1800: 144px;
  --space-2000: 160px;
  --space-2400: 192px;
  --space-2800: 224px;
  --space-3000: 240px;
  --space-3200: 256px;

  /* shadows */
  /* [horizontal offset] [vertical offset] [blur-radius] [spread-radius] [color] */
  --shadow-drop-25: 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-drop-50: 0 4px 4px rgba(0, 0, 0, 0.5);
  --shadow-inner-25: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-inner-50: inset 0 4px 4px rgba(0, 0, 0, 0.5);

  /* background blur + opacity */
  --background-blur-55: blur(6px) opacity(0.55);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  /* Fonts */
  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }
  .font-raleway {
    font-family: "Raleway", sans-serif;
  }
}

@layer utilities {
}
