@import "tailwindcss";

@plugin "daisyui";

@theme {
  /* colors */
  --color-primary-50: #fcfaf9;
  --color-primary-100: #f9f7f3;
  --color-primary-200: #f4efe8;
  --color-primary-300: #eee6dc;
  --color-primary-400: #e9ded1;
  --color-primary-500: #e3d6c5;
  --color-primary-600: #b6ab9e;
  --color-primary-700: #888076;
  --color-primary-800: #5b564f;
  --color-primary-900: #2d2b27;
  --color-primary-950: #161513;

  --color-accent-50: #e5f1f1;
  --color-accent-100: #cce4e4;
  --color-accent-200: #99c8ca;
  --color-accent-300: #4d9fa1;
  --color-accent-400: #339195;
  --color-accent-500: #00767a;
  --color-accent-600: #005e62;
  --color-accent-700: #004749;
  --color-accent-800: #002f31;
  --color-accent-900: #000101;
  --color-accent-950: #000000;

  --color-grey-scale-50: #ffffff;
  --color-grey-scale-100: #e5e5e5;
  --color-grey-scale-200: #cccccc;
  --color-grey-scale-300: #b2b2b2;
  --color-grey-scale-400: #999999;
  --color-grey-scale-500: #7f8080;
  --color-grey-scale-600: #666666;
  --color-grey-scale-700: #4c4d4d;
  --color-grey-scale-800: #323333;
  --color-grey-scale-900: #191a1a;
  --color-grey-scale-950: #000101;

  --color-primary: #f4efe8;
  --color-secondary: #e3d6c5;
  --color-accent: #005e62;
  --color-joker: #867765;
  --color-succes: #green;
  --color-error: #red;
  --color-warning: #yellow;

  /* Typografi størrelser */
  --text-display: clamp(28px, 8vw, 90px);

  --text-heading-xl: clamp(40px, 40px + 0.5vw, 48px);
  --text-heading-l: clamp(36px, 36px + 0.3vw, 40px);
  --text-heading-m: clamp(30px, 30px + 0.2vw, 32px);
  --text-heading-s: clamp(24px, 24px + 0.3vw, 28px);
  --text-heading-xs: clamp(12px, 12px + 0.8vw, 22px);

  --text-body-xl: clamp(18px, 18px + 0.5vw, 24px);
  --text-body-l: clamp(14px, 14px + 0.3vw, 16px);
  --text-body-m: 14px;
  --text-body-s: 12px;

  /* spacing */
  --padding-space-025: 4px;
  --padding-space-010: 2px;
  --padding-space-050: 6px;
  --padding-space-075: 8px;
  --padding-space-100: 10px;
  --padding-space-150: 12px;
  --padding-space-200: 16px;
  --padding-space-250: 20px;
  --padding-space-300: 24px;
  --padding-space-400: 32px;
  --padding-space-500: 40px;
  --padding-space-600: 48px;
  --padding-space-800: 64px;
  --padding-space-1000: 80px;
  --padding-space-1200: 96px;
  --padding-space-1400: 112px;
  --padding-space-1600: 128px;
  --padding-space-1800: 144px;
  --padding-space-2000: 160px;
  --padding-space-2400: 192px;
  --padding-space-2800: 224px;
  --padding-space-3000: 240px;
  --padding-space-3200: 256px;

  --margin-spacing-500: 40px;
  --margin-spaing-1800: 144px;
  --margin-spacing-3000: 240px;

  /* shadows */
  /* [horizontal offset] [vertical offset] [blur-radius] [spread-radius] [color] */
  --shadow-drop-25: 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-drop-50: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
  --shadow-inner-25: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-inner-50: inset 0 4px 4px rgba(0, 0, 0, 0.5);

  /* background blur + opacity */
  --background-blur-55: blur(6px) opacity(0.55);
}

@keyframes arrowAnimationKeyframe {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  40%,
  60% {
    clip-path: inset(0 0 0 0);
  }
  100% {
    clip-path: inset(0 0 100% 0);
  }
}

.arrow-animate {
  animation-name: arrowAnimationKeyframe;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  /* Main grid med 3 kolonner */
  main {
    @apply grid grid-cols-[1fr_minmax(0,1200px)_1fr] gap-8;
  }
}

@layer components {
  /* Main grid: alle børn af <main> placeres i midterste kolonne. */
  main > * {
    @apply col-start-2 col-end-3;
  }

  /* Fonts */
  .font-montserrat {
    font-family: "Montserrat", sans-serif;
  }
  .font-raleway {
    font-family: "Raleway", sans-serif;
  }

  .tabs-lift {
    --tab-bg: theme("colors.primary.500") !important;
  }

  /* Tap componentet css dertil */
  /* Fjern lift-effekt og hullet under tabs */
  .tabs-lift > .tab {
    top: 0 !important;
  }
  .tabs-lift > .tab::before {
    height: 0 !important;
  }

  /* Fjern border fra tab */
  .tabs-lift > .tab {
    border: none !important;
    box-shadow: none !important;
  }

  /* Aktiv tab farve */
  .tabs-lift > label.tab:has(input:checked) {
    background-color: theme("colors.primary.500") !important;
  }

  /* Stram content sammen med tabs */
  .tab-content {
    border-top-width: 0 !important;
  }

  .bg-primary-custom {
    background-color: #3b82f6; /* bg-primary-500 */
  }
}

@layer utilities {
}
