---
import MainLayout from "../layouts/MainLayout.astro";
import HeroNiveau2 from "../components/HeroNiveau2.astro";
import PictureRight_Btn from "../components/PictureRight_Btn.astro";
import StepByStep from "../components/StepByStep.astro";
import Button from "../components/Button.astro";
import TextHeading from "../components/TextHeading.astro";
import TextBody from "../components/TextBody.astro";
import Formular from "../components/Formular.astro"
import FullBleedSection from "../components/FullBleedSection.astro";
---
<MainLayout title="Hjemmekasser">
    <HeroNiveau2
        image="hjemmekrea_hero.webp" 
        alt="sættekasse med krus i hullerne" 
        display="Hjemme-krea" 
        textbody="Tag KREA-U med hjem. Skab ro og hygge med en Hjemme-Krea kasse - Alt, du behøver for at male keramik derhjemme."/>

    <FullBleedSection>
    <PictureRight_Btn
        heading="Tag med hjem"
		textbody1="Med vores Hjemme-krea kan du tage KREA-U’s kreative værksted med hjem. Uanset om du ønsker kreativitet alene eller en hyggelig stund med familie/venner, har vi gjort det nemt for dig. "
		textbody2= "Vælg mellem 3 forskellige kasser, som hver indeholder keramik, maling, pensler og alt det, du skal bruge for at komme i gang. Du kan se kasserne længere nede på siden."
		textbody3= "Følg vores guide, så du ved præcis, hvad du skal gøre fra start til slut."
        image="/hjemme-krea.webp"
		alt="pige der maler"
    />
    </FullBleedSection>

	<StepByStep
		heading1="Sådan gør du"
		first_step="Vælg"
		textbody1="Se beskrivelserne af vores tre Hjemme-Krea kasser og bestil den, du ønsker. Du får alt du skal det bruge med hjem."
		second_step="Mal"
		textbody2="Lad kreativiteten begynde derhjemme, og mal i dit keramik. Du kan finde masser af inspiration på vores sociale medier."
		third_step="Aflever"
		textbody3="Når malingen er tør, pakker du keramikken forsigtigt ind og afleverer det hos os. Husk at skrive initialer og dato i bunden."
		fourth_step="Afhent"
		textbody4="Vi glaserer og brænder dit keramik. Når det er klar, får du besked, og du kan hente det hos os. Ca. 14 dage."/>

    <section class="grid xl:grid-cols-3 gap-28 pb-space-1800 justify-items-center">
        <div>
            <img class="w-60 h-auto md:w-60 pb-space-600 object-cover" src="/kasse1.webp" alt="kande"/>
            <TextHeading size="m" stylingclasses="pb-space-050">Keramikværksted</TextHeading>
            <TextBody size="l-regular" stylingclasses="pb-space-050">Mal dit eget keramik i kreative omgivelser. Vælg mellem kopper, skåle, figurer og meget mere.</TextBody>
        </div>
        <div>
            <img class="w-60 h-auto md:w-60 pb-space-600 object-cover" src="/kasse2.webp" alt="kande"/>
            <TextHeading size="m" stylingclasses="pb-space-050">Smykkeværksted</TextHeading>
            <TextBody size="l-regular" stylingclasses="pb-space-050">Design dine egne unikke smykker med perler, vedhæng og farver i vores inspirerende værksted.</TextBody>
        </div>
        <div>
            <img class="w-60 h-auto md:w-60 pb-space-600 object-cover" src="/kasse3.webp" alt="kande"/>
            <TextHeading size="m" stylingclasses="pb-space-050">Events</TextHeading>
            <TextBody size="l-regular" stylingclasses="pb-space-050">Deltag i vores hyggelige events eller book dit helt eget skræddersyede event hos os.</TextBody>
        </div>
    </section>

<div class="grid mg:grid-rows-2 pb-space-1800 md:mx-spacing-3000">

    <form name="bestil">
		<TextHeading size="m" stylingclasses="pb-space-050">Bestil her</TextHeading>
		<TextBody size="large" stylingclasses="pb-space-300">Udfyld formularen med hvilken kasse du ønsker, og hvor mange du vil bestille. Vi pakker det klar til dig og giver besked, når din kasse er klar til afhentning.<br>Du er selvfølgelig også altid velkommen til at købe dine Hjemme-Krea-kasser direkte i butikken.</TextBody>

        <!-- Fuld navn felt -->
        <div class="grid mb-6">
            <label for="full-name" class="pb-space-050">Dit fulde navn</label>
                <input
                    class="border-1 border-accent-600 p-space-050"
                    placeholder="Peter Jensen"
                    id="full-name"
                    name="fname"
                    type="text"
                    required
                />
        </div>

        <!-- Email felt -->
        <div class="grid mb-6">
            <label for="email" class="pb-space-050">E-mail</label>
                <input
                    class="border-1 border-accent-600 p-space-050"
                    placeholder="peter@mail.dk"
                    id="email"
                    name="email"
                    type="email"
                    required
                />
        </div>

        <!-- Telefonnummer felt -->
        <div class="grid mb-6">
            <label for="telephone" class="pb-space-050">Telefonnummer</label>
                <input
                    class="border-1 border-accent-600 p-space-050"
                    id="telephone"
                    name="telephone"
                    type="tel"
                    placeholder="12 34 56 78"
                    required
            />
        </div>

        <!-- Bestillingsønsker felt -->
        <div class="grid mb-6">
            <label for="bestilling" class="pb-space-050">Bestillingsønsker</label>
                <textarea
                    id="bestilling"
                    name="bestilling"
                    placeholder="Skriv dine ønsker til din Hjemme-Krea-Kasse her"
                    class="border-1 border-accent-600 p-space-050 resize-none h-32"
                    required
                ></textarea>
        </div>

        <div class="mt-6">
            <p class="font-bold">Yderligere tilvalg</p>
            <div class="flex flex-col gap-2 mt-2">
                <label class="flex items-center gap-2">
                <input type="checkbox" checked="checked" class="checkbox"/>Jeg stoler på at i behandler mine data indefor GDPR Logivning
                </label>
            </div>
        </div>

        <!-- Bekræft knap -->
        <Button />
    </form>

</MainLayout>