---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import TextBody from "../components/TextBody.astro";
import TextDisplay from "../components/TextDisplay.astro";
import Studios_section from "../components/Studios_section.astro";
import PictureLeft_Btn from "../components/PictureLeft_Btn.astro";
import StepByStep from "../components/StepByStep.astro";
import FullBleedSection from "../components/FullBleedSection.astro";
import MenukortSektion from "../components/MenukortSektion.astro";
---
<MainLayout title="Forside">
	<FullBleedSection>
		<div class="relative mb-spacing-1800">
			<video autoplay muted loop playsinline class="w-full object-cover object-center brightness-50 h-160 md:h-200"><source src="../hero.video.mp4" type="video/mp4" /></video>

			<div class="absolute inset-0 flex flex-col items-center justify-center z-10 text-center px-space-600 md:px-space-1400 lg:px-space-2000">
				<TextDisplay stylingclasses="pb-space-200">Dit kreative værksted</TextDisplay>
				<TextBody size="xl-regular" stylingclasses="text-primary-50 pb-space-200 px-space-600 md:px-space-1400 lg:px-space-3000">Træd ind i KREA-U’s hyggelige værksted, hvor du kan slippe kreativiteten løs, fordybe dig og nyde et roligt pusterum midt i hverdagen.</TextBody>
				 <Button href="https://book.easytable.com/book/?id=35dca" target="_blank">Book bord</Button>
			</div>
			<a href="#studios" class="absolute bottom-10 md:bottom-30 flex justify-self-center">
				<svg class="w-10 fill-primary-50 arrow-animate" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488.48 725.01">
  					<path d="M203.97,562.45c-1.03,15.66-2.81,20.25-3.63,32.65-.1,1.46-7.66,22.65,21.78,17.74,5.3-.88,21.99-11.07,21.99-11.07,11.59-4.44,11.08-11.66,11.9-17.99,3.42-26.46,8.17-47.95-3.77-86.74-7.21-23.44,14.96-56.71,3.41-180.96-3.04-32.69,11.22-78.64,10.82-116.38-.17-16.76-10.67-34.7-13.59-56.02-2.11-15.41-17.22-35.1-16.43-43.55.33-3.58-5.01-8.48-16.1-7.95-.1,0-8.38,10.5-8.42,10.59-5.61,13.86-3.07,10.07-3.45,19.14-.76,18.44,0,25.16-1.19,35.36-5.96,51.53-3.02,22.68.27,96.53.84,18.98,13.55,46.21,17.21,99.07,2.22,32.08-18.29,131.63-16.63,151.01.96,11.21-1.84,42.39-4.18,58.54Z"/>
  					<path d="M223.4,595.63c-5.94,6.96-8.5,8.4-13.21,13.91-.55.65-12.02,7.57,6.01,17.16,3.25,1.73,16,3.67,16,3.67,7.96,2.6,10.15-1.01,12.77-3.66,10.97-11.08,20.97-19.28,27.64-42.37,4.03-13.95,27.74-20.67,63.93-83.84,9.52-16.62,33.18-32.5,45.91-50.43,5.65-7.96,5.97-20.65,11.66-31.87,4.11-8.11,2.48-23.49,5.81-27.15,1.41-1.55.13-6.02-6.21-10.25-.06-.04-8.25,1.56-8.3,1.59-7.86,4.26-5.16,3.5-8.48,7.62-6.74,8.38-8.63,11.85-12.78,16.17-20.98,21.86-9.45,9.46-32.95,45.57-6.04,9.28-8.32,27.24-24.41,53.61-9.77,16.01-55.28,54.6-61,64.4-3.31,5.67-15.55,19.22-22.39,25.88Z"/>
  					<path d="M208.5,621.66c4.96,7.49,5.61,10.32,9.54,16.25.46.7,3.84,13.44,18-1.18,2.55-2.63,7.96-14.26,7.96-14.26,4.69-6.88,1.87-9.92.08-13.12-7.47-13.37-12.47-25.06-32.57-37.52-12.14-7.53-11.9-31.87-61.88-83.02-13.15-13.46-21.64-40.18-35.14-57.03-6-7.48-17.97-11.15-27.05-19.53-6.56-6.06-21.64-8.57-24.2-12.71-1.08-1.75-5.69-1.71-11.48,3.2-.05.04-.82,8.27-.81,8.32,1.86,8.61,1.89,5.83,4.88,10.08,6.08,8.63,8.85,11.34,11.81,16.44,14.93,25.75,6.36,11.5,34.13,43.41,7.14,8.2,23.58,15.13,44.16,37.42,12.49,13.53,36.48,67.05,44.2,75.09,4.46,4.65,13.93,19.89,18.36,28.15Z"/>
				</svg>
			</a>
		</div>
	</FullBleedSection>

	<div id="studios">
	<Studios_section></Studios_section>
	</div>

	<FullBleedSection>
	<PictureLeft_Btn
		image="../forside.webp"
		alt="pige der maler"
		heading="Velkommen til dig"
		textbody1="Hos KREA-U træder du ind i et kreativt værksted, hvor hverdagen kan lægges på pause. Her kan du fordybe dig i farver, former og nærvær – om du maler på keramik, designer smykker eller udforsker andre af vores kreative muligheder."
		textbody2= "Hos os er der plads til både rolig fordybelse og hyggelige stunder – alle er velkomne, uanset erfaring. Vi hjælper gerne med idéer, farver og teknikker, så du trygt kan gå i gang og lade kreativiteten udfolde sig i dit eget tempo. Vi håber, du vil nyde vores rolige og kreative værksted – et frirum midt i Herning skabt til dig. Vi glæder os til at se dig."/>
	</FullBleedSection>

	<StepByStep
		heading1="Sådan gør du"
		image1="../step1_1.svg"
		first_step="Book"
		textbody1="Book et bord og vælg, om du vil sidde i keramikværkstedet eller smykkeværkstedet."
		image2="../step2_1.svg"
		second_step="Vælg"
		textbody2="Få en introduktion af en medarbejder og gå på opdagelse i keramik, perler, maling, pensler og redskaber. Vi hjælper gerne med idéer og tips."
		image3="../step3_1.svg"
		third_step="Krea"
		textbody3="Sæt dig til rette, bestil noget fra caféen og fordyb dig i dit projekt. Vi står klar til at guide dig undervejs."
		image4="../step4_1.svg"
		fourth_step="Afhent"
		textbody4="Smykker tager du med hjem med det samme. Keramik glaserer og brænder vi. Du kan hente det ca. 14 dage efter."/>

	<MenukortSektion></MenukortSektion>

</MainLayout>

