---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import TextHeading from "../components/TextHeading.astro";
import TextBody from "../components/TextBody.astro";
import TextDisplay from "../components/TextDisplay.astro";
import Studios_section from "../components/Studios_section.astro";
import PictureLeft_Btn from "../components/PictureLeft_Btn.astro";
import StepByStep from "../components/StepByStep.astro";
import Link from "../components/Link.astro";
import FullBleedSection from "../components/FullBleedSection.astro";
---
<MainLayout title="Forside">
	<FullBleedSection>
		<div class="relative pb-space-1800">
			<video autoplay muted loop playsinline class="w-full object-cover object-center brightness-50 h-220 md:max-h-230"><source src="/hero.video.mp4" type="video/mp4" /></video>

			<div class="absolute inset-0 flex flex-col items-center justify-center z-10 text-center px-space-600 md:px-space-1400 lg:px-space-2000">
				<TextDisplay stylingclasses="pb-space-200">Det kreative værksted</TextDisplay>
				<TextBody size="xl-regular" stylingclasses="text-primary-50 pb-space-200 px-space-600 md:px-space-1400 lg:px-space-3000">Træd ind i KREA-U’s hyggelige værksted, hvor du kan slippe kreativiteten løs, fordybe dig og nyde et roligt pusterum midt i hverdagen.</TextBody>
				 <Button href="https://book.easytable.com/book/?id=35dca" target="_blank">Book bord</Button>
			</div>
		</div>
	</FullBleedSection>

	<Studios_section></Studios_section>

	<FullBleedSection>
	<PictureLeft_Btn
		image="/forside.webp"
		alt="pige der maler"
		heading="Velkommen til dig"
		textbody1="Hos KREA-U træder du ind i et kreativt værksted, hvor hverdagen kan lægges på pause. Her kan du fordybe dig i farver, former og nærvær – om du maler på keramik, designer smykker eller udforsker andre af vores kreative muligheder."
		textbody2= "Hos os er der plads til både rolig fordybelse og hyggelige stunder – alle er velkomne, uanset erfaring. Vi hjælper gerne med idéer, farver og teknikker, så du trygt kan gå i gang og lade kreativiteten udfolde sig i dit eget tempo. Vi håber, du vil nyde vores rolige og kreative værksted – et frirum midt i Herning skabt til dig. Vi glæder os til at se dig."/>
	</FullBleedSection>

	<StepByStep
		heading1="Sådan gør du"
		first_step="Book"
		textbody1="Book et bord og vælg, om du vil sidde i keramikværkstedet eller smykkeværkstedet."
		second_step="Vælg"
		textbody2="Få en introduktion af en medarbejder og gå på opdagelse i keramik, perler, maling, pensler og redskaber. Vi hjælper gerne med idéer og tips."
		third_step="Krea"
		textbody3="Sæt dig til rette, bestil noget fra caféen og fordyb dig i dit projekt. Vi står klar til at guide dig undervejs."
		fourth_step="Afhent"
		textbody4="Smykker tager du med hjem med det samme. Keramik glaserer og brænder vi. Du kan hente det ca. 14 dage efter."/>

	<section class="flex flex-col items-center text-center pb-space-1800">
		<TextHeading size="m" stylingclasses="pb-space-050">Ekstra forkælelse</TextHeading>
		<TextBody size="l-regular" stylingclasses="pb-space-200">Vi har både kolde og varme drikkevarer <br>– også noget søde tand, som du kan nyde, mens du er kreativ.</TextBody>
		<div>
			 <Button href="https://book.easytable.com/book/?id=35dca" target="_blank">Book bord</Button>
		</div>
	</section>

</MainLayout>

