---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import TextBody from "../components/TextBody.astro";
import TextDisplay from "../components/TextDisplay.astro";
import PictureLeftBtn from "../components/PictureLeft_Btn.astro";
import Pris_Overblik from "../components/Pris_Overblik.astro";
---
<MainLayout title="Keramikværksted">
	<section class="pb-space-1800 -mx-10 md:-mx-60">
		<div class="relative">
			<div class="flex flex-col  items-center justify-center text-center pt-space-2800 px-space-600 md:px-space-1400 lg:px-space-2000">
				<TextDisplay stylingclasses="text-grey-scale-950">Keramikværksted</TextDisplay>
				<TextBody size="large" stylingclasses="px-space-600 md:px-space-1400 lg:px-space-3000">I vores keramikværksted kan du male lige det, du har lyst til.<br>Vælg et hav af keramik, og skab dit eget personlige udtryk. Vi glæder os til at se dig.</TextBody>
			</div>
            
            <img src="/kande_blur.svg" alt="" class="pt-space-3000 absolute -top-11 right-38 w-76 h-auto"/>
		</div>
	</section>

	<PictureLeftBtn
		image="/keramikværksted.webp"
		alt="piger der snakker med en dame"
		heading="Mal dit keramik"
		textbody1="Kom ned i vores værksted og mal lige det keramik, du ønsker. Vi har et hav af keramik at vælge imellem – kopper, skåle, figurer, fade, vaser og meget mere. Vi hjælper dig gerne med idéer, farver og teknikker, så du trygt kan fordybe dig og nyde kreativiteten."
		textbody2= "Du betaler kun for det keramik, du vælger at male. Vi sørger for glasering og brænding, så du kan hente dit færdige keramik ca. 14 dage efter. Priserne varierer afhængigt af størrelse og type. Du kan få et overblik over vores priser her."/>

	<Pris_Overblik></Pris_Overblik>

	<figure class="diff aspect-16/9 p-space-400" tabindex="0">
  		<div class="diff-item-1" role="img" tabindex="0">
    		<img alt="daisy" src="/keramikfør.webp"/>
  		</div>
  		<div class="diff-item-2" role="img">
    		<img alt="daisy" src="/keramikefter.webp"/>
  		</div>
  		<div class="diff-resizer"></div>
	</figure>

</MainLayout>