---
import MainLayout from "../layouts/MainLayout.astro";
import HeroNiveau2 from "../components/HeroNiveau2.astro";
import PictureRight_Btn from "../components/PictureRight_Btn.astro";
import StepByStep from "../components/StepByStep.astro";
import Button from "../components/Button.astro";
import TextHeading from "../components/TextHeading.astro";
import TextBody from "../components/TextBody.astro";
import Formular from "../components/Formular.astro"
import FAQ from "../components/FAQ.astro";
---
<MainLayout title="Praktisk">
    <HeroNiveau2
        image="./praktiskinfo_hero.webp" 
        alt="sættekasse med krus i hullerne" 
        display="Praktisk info"
        pb="pb-space-1800"/>

    <section class="relative">
        <div class="grid md:grid-cols-2 gap-15">
            <div>
                <TextHeading size="m" stylingclasses="pb-space-300">Det praktiske</TextHeading>
		        <TextBody size="large" stylingclasses="">Vores værksted ligger centralt i Herning. Du er altid velkommen til at kontakte os, hvis du har spørgsmål eller brug for hjælp. Vi glæder os til, at byde dig velkommen!<br><br>Adresse: Søndergade 16, 7400 Herning<br>E-mail: info@krea-u.dk<br>Telefon: 53 82 12 74<br><br>Mandag: LUKKET<br>Tirsdag - Fredag: 11.30 - 21.00<br>Lørdag - Søndag:  10.00 - 17.00</TextBody>
            </div>

            <div>
                <div class="grid mg:grid-rows-2 pb-space-1800">
                    <form name="bestil">
                        <TextHeading size="m" stylingclasses="pb-space-050">Har du brug for hjælp?</TextHeading>
                        <TextBody size="large" stylingclasses="pb-space-300">Du kan udfylde denne formular, hvis du har spørgsmål eller brug for hjælp. Vi vender tilbage så hurtigt vi kan. Vi glæder os til at høre fra dig.</TextBody>

                        <!-- Fuld navn felt -->
                        <div class="grid mb-6">
                            <label for="full-name" class="pb-space-050">Dit fulde navn</label>
                                <input
                                    class="border-1 border-accent-600 p-space-050"
                                    placeholder="Peter Jensen"
                                    id="full-name"
                                    name="fname"
                                    type="text"
                                    required/>
                        </div>

                        <!-- Email felt -->
                        <div class="grid mb-6">
                            <label for="email" class="pb-space-050">E-mail</label>
                                <input
                                    class="border-1 border-accent-600 p-space-050"
                                    placeholder="peter@mail.dk"
                                    id="email"
                                    name="email"
                                    type="email"
                                    required/>
                        </div>

                        <!-- Besked felt -->
                        <div class="grid mb-6">
                            <label for="bestilling" class="pb-space-050">Din besked</label>
                                <textarea
                                    id="bestilling"
                                    name="bestilling"
                                    placeholder="Skriv din besked her"
                                    class="border-1 border-accent-600 p-space-050 resize-none h-32"
                                    required></textarea>
                        </div>

                        <div class="mb-6">
                            <p class="font-bold">Yderligere tilvalg</p>
                            <div class="flex flex-col gap-2 mt-2">
                                <label class="flex items-center gap-2">
                                <input type="checkbox" checked="checked" class="checkbox"/>Jeg stoler på at i behandler mine data indefor GDPR Logivning
                                </label>
                            </div>
                        </div>

                        <!-- Bekræft knap -->
                         <Button class="pb-space-200">Bestil nu</Button>
                    </form>
            </div>
        </div>
        <img src="./kande_blur.svg" alt="" class="absolute top-80 -right-55 w-100 h-auto"/>
    </section>

    <FAQ></FAQ>

</MainLayout>