---
import MainLayout from "../layouts/MainLayout.astro";
import HeroNiveau2 from "../components/HeroNiveau2.astro";
import TextHeading from "../components/TextHeading.astro";
import TextBody from "../components/TextBody.astro";
import Formular from "../components/Formular.astro"
import FAQ from "../components/FAQ.astro";
---
<MainLayout title="Praktisk">
    <HeroNiveau2
        image="../praktiskinfo_hero.webp" 
        alt="sættekasse med krus i hullerne" 
        display="Praktisk info"
        pb="pb-space-1800"/>

    <section class="relative">
        <div class="grid md:grid-cols-2 gap-15">
            <div>
                <TextHeading size="m-green" stylingclasses="pb-space-300">Det praktiske</TextHeading>
		        <TextBody size="large" stylingclasses="">Vores værksted ligger centralt i Herning. Du er altid velkommen til at kontakte os, hvis du har spørgsmål eller brug for hjælp. Vi glæder os til, at byde dig velkommen!<br><br>Adresse: Søndergade 16, 7400 Herning<br>E-mail: info@krea-u.dk<br>Telefon: 53 82 12 74<br><br>Mandag: LUKKET<br>Tirsdag - Fredag: 11.30 - 21.00<br>Lørdag - Søndag:  10.00 - 17.00</TextBody>
            </div>

            <Formular
                heading="Har du brug for hjælp?"
                textbody1="Du kan udfylde denne formular, hvis du har spørgsmål eller brug for hjælp. Vi vender tilbage så hurtigt vi kan."
                textbody2="Vi glæder os til at høre fra dig."
                felt="Din besked"
                besked="Skriv din besked til KREA-U her"/>
        </div>
        <img src="../kande_blur.svg" alt="kande tegning" class="absolute top-80 -right-55 w-100 h-auto"/>
    </section>

    <FAQ></FAQ>

</MainLayout>