---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import HeroNiveau2 from "../components/HeroNiveau2.astro";
import TextHeading from "../components/TextHeading.astro";
import TextBody from "../components/TextBody.astro";
---
<MainLayout title="Koncept">
    <HeroNiveau2
        image="priser_hero.webp" 
        alt="hylder med keramik og maling" 
        display="Vores priser" 
        textbody="Hos KREA-U betales der ikke for et bord, men kun for det, du laver. Herunder finder du et overblik over priser på keramik, smykker og events, så du kan planlægge dit besøg hos os."/>


<div class="tabs tabs-lift gap-x-25 justify-center pb-space-1800">

  <!-- KERAMIK -->
  <label class="tab px-10 py-20 rounded-t-xl">
    <input type="radio" name="my_tabs_4" checked/>
    <div class="flex flex-col items-center gap-2 -mt-18">
      <img src="/keramik.svg" alt="" class="w-[100px] h-[100px]" />
      <span><TextHeading size="xs">Keramik</TextHeading></span>
    </div>
  </label>
  <div class="tab-content bg-primary-500 rounded-xl">
    <div class="p-space-600">
      <div class="grid px-space-3200 pt-space-1000">
          <TextHeading size="xl" stylingclasses="pb-space-050">Keramik</TextHeading>
          <TextBody size="m-regular" stylingclasses="pb-space-1200">Priserne på keramik varierer afhængigt af størrelse og type, men er altid inklusiv maling og brænding. Priserne her på siden er <strong>kun et udpluk af vores sortiment</strong> – vi har et endnu større udvalg i caféen, så der er noget for enhver stil og ethvert budget.</TextBody>    
      </div>

      <div class="grid grid-cols-4 gap-12">
          <div>
            <img src="ankelkæde.webp" alt="">
            <TextHeading size="xs" stylingclasses="pb-space-050">Keramik</TextHeading>    
            <TextBody size="l-regular">150 kr. - 225 kr.</TextBody>
          </div>
          <div>
            <img src="ankelkæde.webp" alt="">
            <TextHeading size="xs" stylingclasses="pb-space-050">Keramik</TextHeading>    
            <TextBody size="l-regular">150 kr. - 225 kr.</TextBody>
          </div>
          <div>
            <img src="ankelkæde.webp" alt="">
            <TextHeading size="xs" stylingclasses="pb-space-050">Keramik</TextHeading>    
            <TextBody size="l-regular">150 kr. - 225 kr.</TextBody>
          </div>
          <div>
            <img src="ankelkæde.webp" alt="">
            <TextHeading size="xs" stylingclasses="pb-space-050">Keramik</TextHeading>    
            <TextBody size="l-regular">150 kr. - 225 kr.</TextBody>
          </div>
      </div>  
    </div>
  </div>

  <!-- SMYKKE -->
  <label class="tab px-10 py-20 rounded-t-xl">
    <input type="radio" name="my_tabs_4"/>
    <div class="flex flex-col items-center gap-2 -mt-18">
      <img src="/smykke.svg" alt="" class="w-[100px] h-[100px]" />
      <span><TextHeading size="xs">Smykker</TextHeading></span>
    </div>
  </label>
  <div class="tab-content bg-primary-500 rounded-xl">
    <div class="p-space-600">
      <div class="grid px-space-3200 pt-space-1000">
          <TextHeading size="xl" stylingclasses="pb-space-050">Smykker</TextHeading>
          <TextBody size="m-regular" stylingclasses="pb-space-1200">Priserne her på siden <strong>er kun eksempler</strong>. Priserne varierer alt efter produkt og hvilke perler du vælger. Alle perler fra vores perle bar er med i priserne, og derudover kan du tilkøbe større perler f.eks. ferskvandsperler, krystalperler og vedhæng.</TextBody>    
      </div>

      <div class="grid grid-cols-4 gap-12">
          <div>
            <img src="ankelkæde.webp" alt="">
            <TextHeading size="xs" stylingclasses="pb-space-050">Keramik</TextHeading>    
            <TextBody size="l-regular">150 kr. - 225 kr.</TextBody>
          </div>
          <div>
            <img src="ankelkæde.webp" alt="">
            <TextHeading size="xs" stylingclasses="pb-space-050">Keramik</TextHeading>    
            <TextBody size="l-regular">150 kr. - 225 kr.</TextBody>
          </div>
          <div>
            <img src="ankelkæde.webp" alt="">
            <TextHeading size="xs" stylingclasses="pb-space-050">Keramik</TextHeading>    
            <TextBody size="l-regular">150 kr. - 225 kr.</TextBody>
          </div>
          <div>
            <img src="ankelkæde.webp" alt="">
            <TextHeading size="xs" stylingclasses="pb-space-050">Keramik</TextHeading>    
            <TextBody size="l-regular">150 kr. - 225 kr.</TextBody>
          </div>
      </div>  
    </div>
  </div>

  <!-- EVENT -->
  <label class="tab px-10 py-20 rounded-t-xl">
    <input type="radio" name="my_tabs_4" />
    <div class="flex flex-col items-center gap-2 -mt-18">
      <img src="/event.svg" alt="" class="w-[100px] h-[100px]" />
      <span><TextHeading size="xs">Events</TextHeading></span>
    </div>
  </label>
  <div class="tab-content bg-primary-500 rounded-xl">
    <div class="p-space-600">
      <div class="grid px-space-3200 py-space-1000">
          <TextHeading size="xl" stylingclasses="pb-space-050">Events</TextHeading>
          <TextBody size="m-regular" stylingclasses="pb-space-200">Her på siden vises <strong>et udpluk</strong> af vores mange forskellige events – holde øje med vores kommende events på booking-siden og på vores sociale medier. Hvis du ønsker <strong>et skræddersyet event</strong>, er du altid velkommen til at kontakte os, så vi finder den løsning, der passer bedst til dig/jer.</TextBody>    
              <div>
                  <button>klik</button>
                  <button>klik</button>
              </div>
        </div>

      <div class="grid grid-cols-4 gap-12">
          <div>
            <img src="krea_bobler.webp" alt="" class="pb-space-050">
            <TextHeading size="xs" stylingclasses="pb-space-050">Perler og bobler</TextHeading>    
            <TextBody size="l-regular">349 kr.</TextBody>
          </div>
          <div>
            <img src="ler_bunden.webp" alt="" class="pb-space-050">
            <TextHeading size="xs" stylingclasses="pb-space-050">Ler for bunden</TextHeading>    
            <TextBody size="l-regular">600 kr.</TextBody>
          </div>
          <div>
            <img src="kreaklub.webp" alt="" class="pb-space-050">
            <TextHeading size="xs" stylingclasses="pb-space-050">Kreaklub for børn</TextHeading>    
            <TextBody size="l-regular">800 kr.</TextBody>
          </div>
          <div>
            <img src="ler_flag.webp" alt="" class="pb-space-050 max-h-60">
            <TextHeading size="xs" stylingclasses="pb-space-050">Ler, fest og flag</TextHeading>    
            <TextBody size="l-regular">500 kr.</TextBody>
          </div>
      </div>  
    </div>
  </div>



</MainLayout>