---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import ButtonSecondary from "../components/ButtonSecondary.astro";
import HeroNiveau2 from "../components/HeroNiveau2.astro";
import TextHeading from "../components/TextHeading.astro";
import TextBody from "../components/TextBody.astro";
import MenukortSektion from "../components/MenukortSektion.astro";
import Pris_Card from "../components/Pris_Card.astro";
import EventCard from "../components/EventCard.astro";

const produkter_keramik = await fetch ("https://aeslhyivpbmaoavnrodx.supabase.co/rest/v1/keramik", {
  method: "GET",
  headers: {
    apikey:
    "sb_publishable_EoFLjjiMttOAawzCkoJltQ_IXbKg01Y"
  },
} 
).then((res) => res.json()); 

const produkter_smykker = await fetch ("https://aeslhyivpbmaoavnrodx.supabase.co/rest/v1/smykker", {
  method: "GET",
  headers: {
    apikey:
    "sb_publishable_EoFLjjiMttOAawzCkoJltQ_IXbKg01Y"
  },
} 
).then((res) => res.json()); 

const produkter_events = await fetch ("https://aeslhyivpbmaoavnrodx.supabase.co/rest/v1/events", {
  method: "GET",
  headers: {
    apikey:
    "sb_publishable_EoFLjjiMttOAawzCkoJltQ_IXbKg01Y"
  },
} 
).then((res) => res.json()); 
---
<MainLayout title="Priser">
    <HeroNiveau2
        image="../priser_hero.webp" 
        alt="hylder med keramik og maling" 
        display="Vores priser" 
        textbody="Hos KREA-U betales der ikke for et bord, men kun for det, du laver. Herunder finder du et overblik over priser på keramik, smykker og events, så du kan planlægge dit besøg hos os."/>


    <div class="tabs tabs-lift gap-x-25 justify-center pb-space-1800">

    <!-- KERAMIK -->
        <label class="tab px-10 py-20 rounded-t-xl">
        <input type="radio" name="my_tabs_4" checked/>
            <div class="flex flex-col items-center gap-2 -mt-18">
                <img src="../keramik.svg" alt="" class="w-[100px] h-[100px]" />
                <span><TextHeading size="xs">Keramik</TextHeading></span>
            </div>
        </label>

        <div class="tab-content bg-primary-500 rounded-xl">
            <div class="p-space-600">
                <div class="grid px-space-3200 pt-space-800">
                    <TextHeading size="xl" stylingclasses="pb-space-050">Keramik</TextHeading>
                    <TextBody size="m-regular" stylingclasses="pb-space-1200">Priserne på keramik varierer afhængigt af størrelse og type, men er altid inklusiv maling og brænding. Priserne her på siden er <strong>kun et udpluk af vores sortiment</strong> – vi har et endnu større udvalg i caféen, så der er noget for enhver stil og ethvert budget.</TextBody>    
                </div>

              <ul class="grid grid-cols-4 gap-12">
                {produkter_keramik.map((produkt) => (  // Dataen 'produkt' sendes med til Card
                <Pris_Card produkt={produkt}></Pris_Card>
                ))}
              </ul>
            </div>
        </div>


    <!-- SMYKKE -->
        <label class="tab px-10 py-20 rounded-t-xl">
        <input type="radio" name="my_tabs_4"/>
          <div class="flex flex-col items-center gap-2 -mt-18">
            <img src="../smykke.svg" alt="" class="w-[100px] h-[100px]" />
            <span><TextHeading size="xs">Smykker</TextHeading></span>
          </div>
        </label>
        <div class="tab-content bg-primary-500 rounded-xl">
            <div class="p-space-600">
                <div class="grid px-space-3200 pt-space-800">
                    <TextHeading size="xl" stylingclasses="pb-space-050">Smykker</TextHeading>
                    <TextBody size="m-regular" stylingclasses="pb-space-1200">Priserne her på siden <strong>er kun eksempler</strong>. Priserne varierer alt efter produkt og hvilke perler du vælger. Alle perler fra vores perle bar er med i priserne, og derudover kan du tilkøbe større perler f.eks. ferskvandsperler, krystalperler og vedhæng.</TextBody>    
                </div>

                 <ul class="grid grid-cols-4 gap-12 pb-space-1200">
                  {produkter_smykker.slice(0, 6).map((produkt) => (  // Dataen 'produkt' sendes med til Card
                  <Pris_Card produkt={produkt}></Pris_Card>
                  ))}
                </ul>
                <ul class="grid grid-cols-4 gap-12">
                  {produkter_smykker.slice(6, 9).map((produkt) => (  // Dataen 'produkt' sendes med til Card
                  <Pris_Card produkt={produkt}></Pris_Card>
                  ))}
                </ul>
          </div>
        </div>

  <!-- EVENT -->
  <label class="tab px-10 py-20 rounded-t-xl">
    <input type="radio" name="my_tabs_4" />
    <div class="flex flex-col items-center gap-2 -mt-18">
      <img src="../event.svg" alt="" class="w-[100px] h-[100px]" />
      <span><TextHeading size="xs">Events</TextHeading></span>
    </div>
  </label>
  <div class="tab-content bg-primary-500 rounded-xl">
    <div class="p-space-600">
      <div class="grid px-space-3200 py-space-800">
          <TextHeading size="xl" stylingclasses="pb-space-050">Events</TextHeading>
          <TextBody size="m-regular" stylingclasses="pb-space-200">Her på siden vises <strong>et udpluk</strong> af vores mange forskellige events – holde øje med vores kommende events på booking-siden og på vores sociale medier. Hvis du ønsker <strong>et skræddersyet event</strong>, er du altid velkommen til at kontakte os, så vi finder den løsning, der passer bedst til dig/jer.</TextBody>    
          <div class="flex gap-5">
              <Button href="https://book.easytable.com/book/?id=35dca" target="_blank">Book event</Button>
              <ButtonSecondary href="/praktisk">Kontakt os</ButtonSecondary>
          </div>
      </div>
      <ul class="grid grid-cols-4 gap-12">
          {produkter_events.map((produkt) => (  // Dataen 'produkt' sendes med til Card
          <EventCard produkt={produkt}></EventCard>
          ))}
      </ul>
    </div>
  </div>
  </div>

<MenukortSektion></MenukortSektion>

</MainLayout>