---
import MainLayout from "../layouts/MainLayout.astro";
import HeroNiveau2 from "../components/HeroNiveau2.astro";
import Studios_Section from "../components/Studios_section.astro";
import Pris_Overblik from "../components/Pris_Overblik.astro"
import FullBleedSection from "../components/FullBleedSection.astro";
---
<MainLayout title="Vores værksteder">
    <HeroNiveau2
        image="../verksteder_hero.webp" 
        alt="pige der står bag en disk" 
        display="Vores værksteder" 
        textbody="Hos os tilbyder vi forskellige kreative værksteder. Du kan male på keramik, lave smykker eller deltage i vores inspirerende events."
        stylingclasses="pb-space-1800"/>

    <Studios_Section></Studios_section> 

    <Pris_Overblik></Pris_Overblik>

    <FullBleedSection>
    <section class="grid grid-cols-3 gap-5 pb-space-1800">
        <img src="./værksteder1.webp" alt="en skål der er blevet malet på" class="h-auto w-125 object-cover object-center justify-self-start">
        <img src="./værksteder2.webp" alt="to piger der sidder og maler" class="h-auto w-125 object-cover object-center justify-self-center">
        <img src="./værksteder3.webp" alt="perle udvalg og en opslagtavle med perler" class="h-auto w-125 object-cover object-center justify-self-end">
    </section>
    </FullBleedSection>

</MainLayout>