---
import MainLayout from "../layouts/MainLayout.astro";
import HeroNiveau2 from "../components/HeroNiveau2.astro";
import StepByStep from "../components/StepByStep.astro";
import PictureText from "../components/Picture_Text.astro";
import Studios_Section from "../components/Studios_section.astro";
import Pris_Overblik from "../components/Pris_Overblik.astro"
---
<MainLayout title="Vores værksteder">
    <HeroNiveau2
        image="verksteder_hero.webp" 
        alt="pige der står bag en disk" 
        display="Vores koncept" 
        textbody="Hos KREA-U har vi en vision om at skabe et kreativt frirum, hvor alle kan finde ro og fordybelse. Et sted, hvor hverdagen kan lægges fra sig, og hvor kreativiteten får plads."/>

<Studios_Section></Studios_section> 

<Pris_Overblik></Pris_Overblik>

<section class="grid md:grid-cols-3 place-items-center gap-10 md:gap-28 -mx-10 md:-mx-70 pb-space-1800">
    <img src="værksteder1.webp" alt="" class="w-80 h-80 md:w-125 md:h-125">
    <img src="værksteder3.webp" alt="" class="w-80 h-80 md:w-125 md:h-125">
    <img src="værksteder3.webp" alt="" class="w-80 h-80 md:w-125 md:h-125">
</section>

</MainLayout>