
<section class="w-[700px]">
<h1>Ofte stillede spørgsmål</h1>
<article class="collapse collapse-arrow bg-base-100 border border-base-300">
  <input type="checkbox" />
  <div class="collapse-title font-semibold">Skal jeg booke bord, eller kan jeg bare komme forbi?</div>
  <div class="collapse-content text-sm">
    Du er altid velkommen til at kigge forbi, men vi anbefaler at booke bord for at være sikker på en plads — især i weekender og ferieperioder. <br> Når du booker, vælger du, om du vil sidde i keramikværkstedet eller smykkeværkstedet.
  </div>
</article>

<article class="collapse collapse-arrow bg-base-100 border border-base-300">
  <input type="checkbox" />
  <div class="collapse-title font-semibold">Hvornår kan jeg hente mit keramik – og hvad hvis det går i stykker?</div>
  <div class="collapse-content text-sm">
    Dit keramik er klar til afhentning ca. 14 dage efter du har været i vores værksted. <br> Når du har malet, udfylder du en seddel med dit telefonnummer, og vi sender dig en SMS, så snart dit keramik er klar til afhentning.
  </div>
</article>

<article class="collapse collapse-arrow bg-base-100 border border-base-300">
  <input type="checkbox" />
  <div class="collapse-title font-semibold">Hvor lang tid tager det – og hvor længe har vi bordet?</div>
  <div class="collapse-content text-sm">
    Du har dit bord i 2 timer, uanset om du maler keramik eller laver smykker. <br> Det er altid en god idé, at du finder lidt inspiration hjemmefra, så du får mest muligt ud af din kreative tid i værkstedet.
  </div>
</article>
</section>
