---
import TextHeading from "./TextHeading.astro"
import TextBody from "./TextBody.astro"
---
<footer class="footer sm:footer-horizontal bg-joker py-space-800 px-space-300 lg:px-space-1800">

  <div>
      <TextHeading size="xs" stylingclasses="text-primary-50">Åbningstider</TextHeading>
      <TextBody size="l" stylingclasses="text-primary-50">Mandag: lukket<br>Tirsdag – fredag: 11.30 – 21.00<br>Lørdag – søndag: 10.00 – 17.00 </TextBody>
  </div>

  <div>
    <TextHeading size="xs" stylingclasses="text-primary-50">Adresse</TextHeading>
    <TextBody size="l" stylingclasses="text-primary-50">Søndergade 16<br>7400 Herning </TextBody>
    <TextBody size="l" stylingclasses="text-primary-50">Telefon: <a href="tel:+4553821274">53 82 12 74</a></TextBody>
    <TextBody size="l" stylingclasses="text-primary-50">Email: <a href="tel:+4553821274">info@krea-u.dk</a></TextBody>
  </div>

  <div>
    <a href="/forside"><img src="/logo_hvid.png" alt="Krea-U logo" class="w-30"></a>
  </div>
  
  <div class="flex gap-4 ">
    <a href="https://www.instagram.com/kreau.dk/" target="_blank" rel="noopener noreferrer">
      <img src="../instagram-icon.svg" alt="Instagram ikon" class="w-8">
    </a>
    <a href="https://www.facebook.com/malingpaakeramik?locale=da_DK" target="_blank" rel="noopener noreferrer">
      <img src="../facebook-icon.svg" alt="Facebook ikon" class="w-8">
    </a>
    <a href="https://dk.pinterest.com/kreau1274/" target="_blank" rel="noopener noreferrer">
      <img src="../pinterest-icon.svg" alt="Pinterest ikon" class="w-8">
    </a>
  </div>

</footer>
