---
import Link from "./Link.astro"
import TextBody from "./TextBody.astro"
---
<!-- <div>
<nav id="desktopmenu" class="hidden lg:block">
    <ul class="flex flex-row gap-4">
        <li class=""> <Link href="#">Koncept</Link> </li>
        <li class=""> <Link href="#">Vores værksteder</Link> </li>
        <li class=""> <Link href="#">Hjemmekasser</Link> </li>
        <li class=""> <img src="" alt="logo"></li>
        <li class=""> <Link href="#">Priser</Link> </li>
        <li class=""> <Link href="#">Praktisk</Link> </li>
        <li class=""> <Link href="#">Gavekort</Link> </li>
    </ul>
</nav>
</div> -->

<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a>Item 1</a></li>
        <li><a href="/"><img src="" alt="Krea-U logo"></a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><TextBody stylingclasses="uppercase"><a>Koncept</a></TextBody></li>
      <li>
        <details>
          <summary>Vores værksteder</summary>
          <ul class="p-2 bg-base-100 w-full z-1">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </details>
      </li>
       <li><a href="/"><img src="" alt="Krea-U logo"></a></li>
      <li><a>Item 3</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn">Button</a>
  </div>
</div>