---
const { href = "#", target = "_self" } = Astro.props;

const linkClasses = `
  font-raleway text-body-l text-grey-scale-950 px-space-100 hover:font-bold
`;

const underlineClasses = `
  w-30 overflow-hidden transition-[clip-path] duration-500 ease-out
  [clip-path:inset(0_20%_0_0)]    
  group-hover:[clip-path:inset(0_0_0_0)]  
`;
---
<div class="flex flex-col group">
  <a href={href} target={target} class={linkClasses}>
    <slot />
  </a>

  <div class={underlineClasses}>
    <img src="./underline.svg" alt="underline" class="w-full" />
  </div>
</div>
