---
import TextHeading from "./TextHeading.astro";
import TextBody from "./TextBody.astro";
import Button from "./Button.astro";
import ButtonSecondary from "./ButtonSecondary.astro";
---


<section class="flex flex-col items-center text-center pb-space-1800">
    <TextHeading size="m" stylingclasses="pb-space-050">Ekstra forkælelse</TextHeading>
    <TextBody size="l-regular" stylingclasses="pb-space-200">Vi har både kolde og varme drikkevarer <br>– og noget til den søde tand, som du kan nyde, mens du er kreativ.</TextBody>
    <div class="flex gap-5">
         <Button href="https://book.easytable.com/book/?id=35dca" target="_blank">Book bord</Button>
         <ButtonSecondary href="https://krea-u.dk/vi-tilbyder/menukort" target="_blank">Se menukort</ButtonSecondary>
    </div>
</section>