---
import TextHeading from "./TextHeading.astro";
import TextBody from "./TextBody.astro";
import Button from '../components/Button.astro';
---
<section class="pb-space-1800">
  <div class="grid grid-cols-1 md:grid-cols-[2fr_1fr] place-items-center gap-8 md:px-space-3000 w-full">
    
    <div>
      <TextHeading size="m" stylingclasses="pb-space-300">Pris og overblik</TextHeading>
      <TextBody size="large">
        Hos KREA-U betaler du ikke for at sidde i værkstedet – kun for det dit kreaværk. 
        Priserne varierer efter materiale og størrelse, og vi har noget for enhver stil og ethvert budget.
      </TextBody>
    </div>

    <div class="flex justify-center md:justify-start">
      <Button>hejhehehje</Button>
    </div>

  </div>
</section>
