---
import TextHeading from "./TextHeading.astro"
import TextBody from "./TextBody.astro"
import Link from "./Link.astro";
---
<section class="grid md:grid-cols-2 xl:grid-cols-3 gap-35 lg:gap-50 max-w-[1200px] pb-space-1800">
    <div>
        <div class="relative pb-space-200">
            <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10" src="../keramik_white.svg" alt="kande"/>
            <img class="w-full brightness-50 object-center" src="../keramikeunder.webp" alt="malet keramik på en drejeskive">
        </div>
        <TextHeading size="m-green" stylingclasses="pb-space-050">Keramikværksted</TextHeading>
        <TextBody size="l-regular" stylingclasses="pb-space-200">Mal dit eget keramik i kreative omgivelser. Vælg mellem kopper, skåle, figurer og meget mere.</TextBody>
        <Link href="keramikværksted">Læs mere</Link>
    </div>
    <div>
        <div class="relative pb-space-200">
            <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10" src="../smykke_white.svg" alt="smykke"/>
            <img class="w-full brightness-50 object-center" src="../smykkeunder.webp" alt="malet keramik på en drejeskive">
        </div>        
        <TextHeading size="m-green" stylingclasses="pb-space-050">Smykkeværksted</TextHeading>
        <TextBody size="l-regular" stylingclasses="pb-space-200">Design dine egne unikke smykker med perler, vedhæng og farver i vores inspirerende værksted.</TextBody>
        <Link href="smykkeværksted">Læs mere</Link>
    </div>
    <div>
        <div class="relative pb-space-200">
            <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10" src="../event_white.svg" alt="forklæde"/>
            <img class="w-full brightness-50 object-center" src="../eventunder.webp" alt="malet keramik på en drejeskive">
        </div>        
        <TextHeading size="m-green" stylingclasses="pb-space-050">Events</TextHeading>
        <TextBody size="l-regular" stylingclasses="pb-space-200">Deltag i vores hyggelige events eller book dit helt eget skræddersyede event hos os.</TextBody>
        <Link href="events">Læs mere</Link>
    </div>
</section>