---
import TextHeading from "./TextHeading.astro"
import TextBody from "./TextBody.astro"
import Button from '../components/Button.astro';
---
<section class="grid sm:grid-cols-2 lg:grid-cols-3 gap-28 max-w-[1200px] mx-auto px-4 pb-space-1800">
    <div>
        <img class="max-w-70 object-center pb-space-600" src="/keramik.svg" alt="kande"/>
        <TextHeading size="m" stylingclasses="pb-space-050">Keramikværksted</TextHeading>
        <TextBody stylingclasses="pb-space-050">Mal dit eget keramik i kreative omgivelser. Vælg mellem kopper, skåle, figurer og meget mere.</TextBody>
        <Button>Label</Button>
    </div>
    <div>
        <img class="max-w-70 object-center pb-space-600" src="/smykke.svg" alt="kande"/>
        <TextHeading size="m" stylingclasses="pb-space-050">Smykkeværksted</TextHeading>
        <TextBody stylingclasses="pb-space-050">Design dine egne unikke smykker med perler, vedhæng og farver i vores inspirerende værksted.</TextBody>
        <Button>Label</Button>
    </div>
    <div>
        <img class="max-w-70 object-center pb-space-600" src="/event.svg" alt="kande"/>
        <TextHeading size="m" stylingclasses="pb-space-050">Events</TextHeading>
        <TextBody stylingclasses="pb-space-050">Deltag i vores hyggelige events eller book dit helt eget skræddersyede event hos os.</TextBody>
        <Button>Label</Button>
    </div>
</section>