---
import TextHeading from "./TextHeading.astro"
import TextBody from "./TextBody.astro"
import Button from '../components/Button.astro';
import Link from "./Link.astro";
---
<section class="grid md:grid-cols-2 xl:grid-cols-3 gap-35 lg:gap-50 max-w-[1200px] pr-space-3000 md:pr-space-500 pb-space-1800">
    <div>
        <img class="max-w-70 object-center pb-space-600" src="/keramik.svg" alt="kande"/>
        <TextHeading size="m" stylingclasses="pb-space-050">Keramikværksted</TextHeading>
        <TextBody size="l-regular" stylingclasses="pb-space-200">Mal dit eget keramik i kreative omgivelser. Vælg mellem kopper, skåle, figurer og meget mere.</TextBody>
        <Link>Label</Link>
    </div>
    <div>
        <img class="max-w-70 object-center pb-space-600" src="/smykke.svg" alt="kande"/>
        <TextHeading size="m" stylingclasses="pb-space-050">Smykkeværksted</TextHeading>
        <TextBody size="l-regular" stylingclasses="pb-space-200">Design dine egne unikke smykker med perler, vedhæng og farver i vores inspirerende værksted.</TextBody>
        <Link>Label</Link>
    </div>
    <div>
        <img class="max-w-70 object-center pb-space-600" src="/event.svg" alt="kande"/>
        <TextHeading size="m" stylingclasses="pb-space-050">Events</TextHeading>
        <TextBody size="l-regular" stylingclasses="pb-space-200">Deltag i vores hyggelige events eller book dit helt eget skræddersyede event hos os.</TextBody>
        <Link>Label</Link>
    </div>
</section>